--------------
<h2 style="color:blue;"><b>Pandas Data Structures & Operations</b></h2>

--------------------------

-----------------
<h3 style="color:blue;"><b>Student Practice #1</b></h3>
<p style="color:SlateBlue;">In the empty cell below, first create a Pandas `DataFrame` with 25 elements ranging from `1` to `25`, with row indices assigned automatically and column labels equal to the characters: `b`, `d`, `f`, `g`, and `j`. Next, select the subset of this `DataFrame` corresponding to the second-fourth rows and columns (so nine total entries). Multiply this new `DataFrame` by `10`, and subtract `5`. Finally, apply the `describe` function to the resultant `DataFrame`.</p>

-------------

In [1]:
import pandas as pd

## Create a DataFrame with 25 elements ranging from 1 to 25
itemL = range(1,26)
dataDict = {"b": itemL[0:5],
            "d": itemL[5:10],
            "f": itemL[10:15],
            "g": itemL[15:20],
            "j": itemL[20:25]}

dataDF = pd.DataFrame(dataDict)
print(dataDF, "\n")

## Select the second-fourth rows and columns
subDF = dataDF.iloc[2:5, 2:5]
print(subDF, "\n")

## Multiple the DataFrame by 10 and substract by 5
subDF = subDF * 10 - 5
print(subDF, "\n")

## Describe the DataFrame subDF
subDF.describe()

   b   d   f   g   j
0  1   6  11  16  21
1  2   7  12  17  22
2  3   8  13  18  23
3  4   9  14  19  24
4  5  10  15  20  25

    f   g   j
2  13  18  23
3  14  19  24
4  15  20  25

     f    g    j
2  125  175  225
3  135  185  235
4  145  195  245

           f      g      j
count    3.0    3.0    3.0
mean   135.0  185.0  235.0
std     10.0   10.0   10.0
min    125.0  175.0  225.0
25%    130.0  180.0  230.0
50%    135.0  185.0  235.0
75%    140.0  190.0  240.0
max    145.0  195.0  245.0

In [1]:
## Alternative Approach, with functions from NumPy
import pandas as pd
import numpy as np

## Create a DataFrame with 25 elements ranging from 1 to 25
itemN = np.arange(1,26)
itemM = itemN.reshape(5, 5)         # use the method from NumPy to create a matrix

dataDF = pd.DataFrame(itemM, columns=["b", "d", "f", "g", "j"])
print(dataDF, "\n")

## Select the second-fourth rows and columns
subDF = dataDF.iloc[2:5, 2:5]
print(subDF, "\n")

## Multiple the DataFrame by 10 and substract by 5
subDF = subDF * 10 - 5
print(subDF, "\n")

## Describe the DataFrame subDF
subDF.describe()

    b   d   f   g   j
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25

    f   g   j
2  13  14  15
3  18  19  20
4  23  24  25

     f    g    j
2  125  135  145
3  175  185  195
4  225  235  245

           f      g      j
count    3.0    3.0    3.0
mean   175.0  185.0  195.0
std     50.0   50.0   50.0
min    125.0  135.0  145.0
25%    150.0  160.0  170.0
50%    175.0  185.0  195.0
75%    200.0  210.0  220.0
max    225.0  235.0  245.0

------------------
<h3 style="color:blue;"><b>Student Practice #2</b></h3>
<p style="color:SlateBlue;">In the empty cell below, first extract all airports in the state of California. Second, apply a mask to select only those rows with a latitude between 38 and 40. Finally, compute and display the average and standard deviation of the longitude for these masked rows.</p>

----------------------

In [2]:
import pandas as pd

## Input the file airposts.xlsx into a DataFrame
airDF = pd.read_excel("airports.xlsx")

## Extract all airports in the state of California
calDF = airDF[airDF.state == "CA"]       # CA - California

## Select only those rows with a latitude between 38 and 40
latDF = calDF[(calDF.lat >= 38) & (calDF.lat <= 40)]

## Determine the average and standard deviation of the longitude
print(latDF["long"].aggregate(['mean', 'std']))

## Verify the answer
latDF.describe()

mean   -121.712719
std       0.971565
Name: long, dtype: float64

             lat        long
count  49.000000   49.000000
mean   38.893782 -121.712719
std     0.544841    0.971565
min    38.030423 -123.753735
25%    38.508977 -122.280694
50%    38.774352 -121.616362
75%    39.262038 -121.082081
max    39.943781 -119.225709

------------
<h3 style="color:blue;"><b>Student Practice #3</b></h3>
<p style="color:SlateBlue;">In the empty Code cell below, first group the DataFrame of tips by the smoker column. Next, compute and display the minimum, maximum, and median values for the new grouped DataFrame by using the aggregate function correctly. Finally, compute the row index for the maximum total_bill for the smoker group.</p>

-------------------

In [3]:
import pandas as pd

## Input the tips.xlsx into DataFrame
tipsDF = pd.read_excel("tips.xlsx")

## Group the DataFrame by the sex column
smoDF = tipsDF.groupby("smoker")
print("The first two records from each group\n")
print(smoDF.head(2), "\n")

## Compute and display the minimum, maximum, and median values
print("The min, max, and median on all numerical columns\n")
print(smoDF.aggregate(['min', 'max', 'median']), "\n")

## Compute the row index for the maximum total_bill for the smoker group
print("The index of the maximum values by smoker group\n")
print(smoDF.idxmax(), "\n")
print("The max total_bill for the smoker group occurred at row {}.".format(smoDF.idxmax().iloc[1,1]))

## Verify the answer
tipsDF.iloc[168:173, 1]

The first two records from each group

    Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0            0       169.9  10.1  Female     No  Sun  Dinner     2
1            1       103.4  16.6    Male     No  Sun  Dinner     3
56          56       380.1  30.0    Male    Yes  Sat  Dinner     4
58          58       112.4  17.6    Male    Yes  Sat  Dinner     2

The min, max, and median on all numerical columns

       Unnamed: 0             total_bill                 tip                \
              min  max median        min    max median   min    max median
smoker
No              0  243     88       72.5  483.3  175.9  10.0   90.0   27.4
Yes            56  241    184       30.7  508.1  179.2  10.0  100.0   30.0

       size
        min max median
smoker
No        1   6      2
Yes       1   5      2

The index of the maximum values by smoker group

        Unnamed: 0  total_bill  tip  size
smoker
No             243         212  212   125
Yes            241         170  170   187

The max total_bill for the smoker group occurred at row 170.

168    105.9
169    106.3
170    508.1
171    158.1
172     72.5
Name: total_bill, dtype: float64

---------------
<h3 style="color:blue;"><b>Student Practice #4</b></h3>
<p style="color:SlateBlue;">In the empty Code cell below, input tips.xlsx as a DataFrame create a pivot table on this DataFrame using the time column as the horizontal index and the sex column as the vertical index. Compute and display the mean and standard deviation for the tips column in this pivot table.</p>

----------------------

In [4]:
## Create a pivot table usin¶g the time column as the horizontal index and 
## the sex column as the vertical index
import pandas as pd
tips = pd.read_excel("tips.xlsx")

## Generate the privot table accordingly
print(tips.pivot_table('tip', index='time', columns='sex', margins=all), "\n")

## Generate the privot table accordingly
print(tips.pivot_table(aggfunc={'total_bill': ['mean', 'std']}, index='time', columns='sex'))

sex        Female       Male        All
time
Dinner  30.021154  31.448387  31.026705
Lunch   25.828571  28.821212  27.280882
All     28.334483  30.896178  29.982787

        total_bill
              mean                    std
sex         Female        Male     Female       Male
time
Dinner  192.130769  214.614516  82.020855  94.609741
Lunch   163.391429  180.484848  75.008028  79.534352