-------------------------------

<h3 style="color:blue;"><b>Lists in Python</b></h3>
<ul style="color:SlateBlue;">
    <li>Pythonâ€™s core objects are numbers, strings, lists, tuples, files, sets, and dictionaries.</li>
    <li>A list is an ordered sequence of Python objects. The objects can be of any type and do not have to all be the same type.</li>
    <li>A list is constructed by writing its items enclosed in square brackets, with the items separated by commas. Some examples of lists are:</li>
    <ul>
        <li>team = ["Seahawks", 2014, "CenturyLink Field"]</li>
        <li>nums = [5, 10, 4, 5]</li>
        <li>words = ["spam", "ni"]</li>
    </ul>
    </ul>

<h3 style="color:blue;"><b>List Operations</b></h3>

<p style="color:SlateBlue;">You may refer to the following url for the details:<br>
https://www.w3schools.com/python/python_lists.asp</p>

<h3 style="color:blue;"><b>The split and join Methods</b></h3>
<ul style="color:SlateBlue;">
    <li>The split and join methods are extremely valuable methods that are inverses of each other.</li>
    <li>The split method turns a single string into a list of substrings and the join method turns a list of strings into a single string.</li>
    </ul>

-----------------------------------------

In [1]:
print("a,b,c".split(','))      # split the string according to ','
print("a**b**c".split('**'))   # split the string according to '**'
print("a\nb\nc".split())       # split the string according to return as default
print("a b c".split())         # split the string according to space

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [2]:
line = ["To", "be", "or", "not", "to", "be."]
print(' '.join(line))      # join the elements in line with ' '

krispies = ["Snap", "Crackle", "Pop"]
print(", ".join(krispies)) # join the elements in krispies with ', '

To be or not to be.
Snap, Crackle, Pop

--------------------------------------

<h3 style="color:blue;"><b>Slices of Lists</b></h3>
<ul style="color:SlateBlue;">
    <li>A slice of a list is a sub-list specified with colon notation.</li>
    <li>It is analogous to a slice of a string.</li>
    <li>Meaning of slice notations:</li>
    </ul>
<table style="color:DodgerBlue;align=left;">
    <tr>
        <th style="text-align:left;">Slice Notation</th>
        <th style="text-align:left;">Meaning</th>
    </tr>
    <tr>
        <td style="text-align:left;">list1[m:n]</td>
        <td style="text-align:left;">list consisting of the items of list1 having indices m through n-1</td>
    </tr>
    <tr>
        <td style="text-align:left;">list1[:]</td>
        <td style="text-align:left;">a new list containing the same items as list1</td>
    </tr>
    <tr>
        <td style="text-align:left;">list1[m:]</td>
        <td style="text-align:left;">list consisting of the items of list1 from list1[m] through the end of list1</td>
    </tr>
    <tr>
        <td style="text-align:left;">list1[:m]</td>
        <td style="text-align:left;">list consisting of the items of list1 from the beginning of list1 to the element having index m-1</td>
    </tr>
    </table>

-----------------------------------------

-----------------------------------------

<h3 style="color:red;"><b>Student Practice</b></h3>

<p style="color:SlateBlue;">The cell below defined a variable countries that contained the names of a number of countries in the world. Try to write the code to perform the following:</p>
<ol Style="color:DodgerBlue;">
    <li>output the number of countries.</li>
    <li>output the 8th and the last country.</li>
    <li>output the 3rd to 7th countries.</li>
    <li>output the 4th to the last countries.</li>
    <li>output the 1st to the 5th countries.</li>
    <li>output the 5th to the 10th countries in reverse order.</li>
    <li>add Hong Kong and Macau to the end of the list.</li>
    <li>remove the countries Angola from the list.</li>
    <li>insert Korea after Brazil.</li>
    <li>sort the list in ascending order</li>
    </ol>

----------------------------------------

In [ ]:
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]

In [2]:
## Student Priactice #1
## output the number of countries.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
len(countries)

15

In [4]:
## Student Priactice #2
## output the the 8th and the last country.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
print(countries[7], countries[-1], sep=', ')

China, Denmark

In [9]:
## Student Priactice #3
## output the 3rd to 7th countries.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
print(countries[2:7])

['Brazil', 'Angola', 'England', 'India', 'Portugal']

In [6]:
## Student Priactice #4
## output the 4th to the last countries.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
print(countries[3:])

['Angola', 'England', 'India', 'Portugal', 'China', 'Australia', 'Austria', 'Bahamas', 'Bangladesh', 'Belgium', 'Canada', 'Denmark']

In [8]:
## Student Priactice #5
## output the 1st to the 5th countries.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
print(countries[0:5])

['Argentina', 'Japan', 'Brazil', 'Angola', 'England']

In [40]:
## Student Priactice #6
## output the 5th to the 10th countries in reverse order.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
country_ = countries[4: 10]
country_.reverse()
print(country_)

['Austria', 'Australia', 'China', 'Portugal', 'India', 'England']

In [5]:
## Student Priactice #7
## add Hong Kong and Macau to the end of the list.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
countries.append('Hong Kong')
countries.append('Hong Kong')
countries.append('Macau')
print(set(countries))
print(countries)

{'Austria', 'Japan', 'Belgium', 'Portugal', 'Denmark', 'India', 'Macau', 'Argentina', 'Bahamas', 'England', 'Canada', 'Australia', 'Brazil', 'Bangladesh', 'China', 'Angola', 'Hong Kong'}
['Argentina', 'Japan', 'Brazil', 'Angola', 'England', 'India', 'Portugal', 'China', 'Australia', 'Austria', 'Bahamas', 'Bangladesh', 'Belgium', 'Canada', 'Denmark', 'Hong Kong', 'Hong Kong', 'Macau']

In [27]:
## Student Priactice #8
## remove the countries Angola from the list.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
countries.remove('Angola')
print(countries)

['Argentina', 'Japan', 'Brazil', 'England', 'India', 'Portugal', 'China', 'Australia', 'Austria', 'Bahamas', 'Bangladesh', 'Belgium', 'Canada', 'Denmark']

In [29]:
## Student Priactice #9
## insert Korea after Brazil.
countries = ["Argentina", "Japan", "Brazil", "Angola", "England", 
             "India", "Portugal", "China", "Australia", "Austria", 
             "Bahamas", "Bangladesh", "Belgium", "Canada", "Denmark"]
countries.insert(3, 'Korea')
print(countries)

['Argentina', 'Japan', 'Brazil', 'Korea', 'Angola', 'England', 'India', 'Portugal', 'China', 'Australia', 'Austria', 'Bahamas', 'Bangladesh', 'Belgium', 'Canada', 'Denmark']

------------------------------------

<h3 style="color:blue;"><b>Tuple in Python</b></h3>
<ul style="color:SlateBlue;">
    <li>Tuples, like lists, are ordered sequences of items.</li>
    <li>The main difference between tuples and lists are that tuples cannot be modified directly.</li>
    <li>Tuples have no append, extend, or insert methods.</li>
    <li>The other list functions and methods apply to tuples, and its items can be accessed by indices.</li>
    <li>Tuples also can be sliced, concatenated, and repeated.</li>
    <li>Tuples are written as comma-separated sequences enclosed in parentheses.</li>
    <li>The following two statements used to define a tuple</li>
    <span style="color:white;">.....</span><span style="color:DodgerBlue;">t = ('a', 'b', 'c')</span><br>
<span style="color:white;">.....</span><span style="color:DodgerBlue;">t = 'a', 'b', 'c'</span>
    <li>print functions always display tuples enclosed in parentheses.</li>
    </ul>

<h3 style="color:blue;"><b>Nested Lists</b></h3>
<ul style="color:SlateBlue;">
    <li>items also can be lists or tuples. Lists of tuples play a prominent role in analyzing data.</li>
    </ul>

------------------------------

In [32]:
regions = [("Macau", 55.3), ("Taipa", 66.9), ("Coloane", 114.6), ("Cotai", 71.9)]
print("The 2010 population of", regions[1][0], "was", regions[1][1], "thousand.")
print("The 2010 population of", regions[3][0], "was", regions[3][1], "thousand.")

totalPop = regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1]
print("\nTotal 2010 population of Macau: {0:.1f} thousand.".format(totalPop))

The 2010 population of Taipa was 66.9 thousand.
The 2010 population of Cotai was 71.9 thousand.

Total 2010 population of Macau: 308.7 thousand.

-------------------------------------

<h3 style="color:blue;"><b>Copying Lists</b></h3>
<ul style="color:SlateBlue;">
    <li>If the variable var1 has a mutable value (such as a list), a statement of the form var2 = var1 results in var2 referencing the same object as var1.</li>
    <li>Any change to the value of var2 affects the value of var1.</li>
    <li>Objects that can be changed in place are called mutable, objects that cannot be changed in place are called immutable.</li>
    <li>Consider the four lines of codes in the cell below:</li>
    </ul>

--------------------------------------

In [33]:
list1 = ['a', 'b'] # Lists are mutable objects.
list2 = list1      # list2 will point to the same memory location as list1
list2[1] = 'c'     # Changes the value of the second item in the list object
print(list1)

['a', 'c']

------------------------

<h3 style="color:red;"><b>Student Practice</b></h3>

<p style="color:SlateBlue;">In the empty cell below, write a program segment that count the number of words in this practical exercise definition and list all the words out in ascending order as well as in descending.</p> <p style="color:red;">Optional but strongly suggested: Try to use functions for each functionality in your solution.</p>

-------------------------------

In [34]:
sPD = """Student Practice - In the empty cell below, write a 
program segment that count the number of words in this practical 
exercise definition and list all the words out in ascending 
order as well as in descending."""

In [35]:
def count(sentence):
    punctuations = ('.', ',', '-', ':', '?', '!', '$', '%', '@', '#')
    for punc in punctuations:
        sentence = sentence.replace(punc, ' ')

    wlist = sentence.split()
    print(len(wlist))
    
count(sPD)

36